<div class="col-12 col-sm-12 col-md-12 col-lg-3 d-none d-sm-block">
    <div class="siderbar py-4 pl-3 mt-3 mr-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/setting/personal-info" class="nav-link <%- locals.page == 'Personalinfo' && 'active'  %> ">Personal Information</a>
            </li>
            <li class="nav-item">
                <a href="/setting/security" class="nav-link <%- locals.page == 'Security' && 'active'  %>">Security</a>
            </li>
            <li class="nav-item">
                <a href="/setting/pay-out" class="nav-link <%- locals.page == 'Payout' && 'active'  %>">Payout</a>
            </li>
            <li class="nav-item">
                <a href="/setting/notification" class="nav-link <%- locals.page == 'Notification' && 'active'  %>">Notification</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link <%- locals.page == 'Marketplace' && 'active'  %>">Global Preference</a>
            </li>
            <li class="nav-item">
                <a href="/refferrals" class="nav-link <%- locals.page == 'Refferral' && 'active'  %>">Refferral</a>
            </li>
        </ul>
    </div>
</div>